:root {
  --primary-one: hsl(300, 43%, 22%);
  --primary-two: hsl(333, 80%, 67%);
  --neutral-one: hsl(303, 10%, 53%);
  --neutral-two: hsl(300, 24%, 96%);
  --neutral-three: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "League Spartan", sans-serif;
}

body {
  background: url(images/bg-pattern-top-desktop.svg) no-repeat no-repeat left top,
    url(images/bg-pattern-bottom-desktop.svg) no-repeat no-repeat bottom right;
  font-size: 1.5rem;
  box-sizing: border-box;
}

main {
  padding: 2.4rem;

  max-width: 120rem;
  margin: 15rem auto;
}

/****************/
/* SECTION HERO */
/****************/
.section-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  margin-bottom: 4.8rem;
}

.hero-text {
  width: 45rem;
}

.hero-heading {
  font-size: 6.2rem;
  color: var(--primary-one);
  margin-bottom: 2.4rem;
}

.hero-description {
  color: var(--neutral-one);
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
}

.hero-imgs {
  display: flex;
  flex-direction: column;
}

.rating {
  width: 45rem;
  padding: 1.6rem 3.6rem;
  border-radius: 8px;
  background-color: hsl(300, 24%, 96%);
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.rating:nth-child(2) {
  margin-top: 1.8rem;
  margin-left: 4.8rem;
}

.rating:nth-child(3) {
  margin-top: 1.8rem;
  margin-left: 9.6rem;
}

.rating-text {
  color: var(--primary-one);
  font-weight: 700;
  font-size: 1.8rem;
}

/************************/
/* SECTION TESTIMONIALS */
/************************/
.section-testimonials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
}

.testimonial-box {
  background-color: var(--primary-one);
  padding: 3.6rem;
  border-radius: 8px;
  width: 35rem;
}

.testimonial-box:nth-child(2) {
  margin-top: 2.4rem;
}

.testimonial-box:nth-child(3) {
  margin-top: 4.8rem;
}

.testimonial-box .wrapper {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}

.customer-img {
  border-radius: 50%;
  width: 3.6rem;
}

.customer-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.customer-name {
  color: var(--neutral-three);
  font-weight: 500;
  font-size: 1.5rem;
}

.customer-verified {
  color: var(--primary-two);
  font-weight: 500;
}

.customer-sentence {
  color: var(--neutral-three);
  line-height: 1.5;
}

/* FOOTER */
.attribution {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  line-height: 1.5;
}

.attribution a {
  color: var(--primary-two);
}

/* BELOW 900PX (TABLETS) */
@media (max-width: 56.25em) {
  main {
    padding: 1.2rem;
    margin: 5rem auto;
  }

  /****************/
  /* SECTION HERO */
  /****************/
  .section-hero {
    flex-direction: column;
    gap: 4.8rem;
    margin-bottom: 4.8rem;
  }

  .hero-text {
    width: 75%;
  }

  .hero-heading {
    text-align: center;
    margin-bottom: 2.4rem;
  }

  .hero-description {
    font-size: 2.4rem;
    text-align: center;
  }

  .rating {
    width: 100%;
    flex-direction: column;
  }

  .rating:nth-child(2) {
    margin-left: auto;
  }

  .rating:nth-child(3) {
    margin-left: auto;
  }

  /************************/
  /* SECTION TESTIMONIALS */
  /************************/
  .section-testimonials {
    flex-direction: column;
    gap: 1.8rem;
  }

  .testimonial-box {
    background-color: var(--primary-one);
    padding: 3.6rem;
    border-radius: 8px;
    width: 80%;
  }

  .testimonial-box:nth-child(2) {
    margin-top: auto;
  }

  .testimonial-box:nth-child(3) {
    margin-top: auto;
  }
}
